.header-container {
    background-color: var(--header-color);
    color: var(--header-text-color);
}

.top-header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    padding: 0 2px;
    border-bottom: 1px solid rgb(200, 200, 200);
}

.top-header-left {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.top-header-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 45px;
    font-size: 14px;
}

.top-header-social-media {
    display: flex;
    align-items: center;
    gap: 10px;
}

.top-header-social-media svg {
    font-size: 18px;
    cursor: pointer;
}

.header-top-languages {
    display: flex;
    align-items: center;
    gap: 7px;
}

.language-selection-title {
    margin-right: 5px;
}

.language-selection-flag {
    height: 17px;
    width: auto;
    margin-top: 3px;
    cursor: pointer;
}

.club-website-link {
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    text-decoration: none;
    color: var(--primary-color);
}

.header-main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 15px;
    padding-bottom: 15px;
}

.header-links {
    display: flex;
    align-items: center;
    gap: 45px;
}

.header-link {
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: .3px;
    color: var(--header-text-color);
}

.header-link img {
    height: 75px;
    width: auto;
}

.header-right {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-search {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    height: 45px;
    width: 275px;
    padding: 0 10px;
    background-color: rgb(230, 230, 230);
    
}

.header-search-input {
    height: 100%;
    width: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 15px;
}

.header-search-icon {
    font-size: 18px;
    cursor: pointer;
    color: rgb(100, 100, 100);
}