.header-main {
    display: flex;
    align-items: center;
    gap: 25px;
    background-color: var(--primary-color);
    padding: 10px;
}

.header-link {
    color: white;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    text-decoration: none;
}

.header-link img {
    height: 50px;
    width: auto;
}