.header-container {
    font-family: 'Lato', sans-serif;
    /* background-color: var(--primary-color); */
}

.header-top-cont {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 45px;
    height: 40px;
    font-size: 14px;
    border-bottom: 1px solid rgb(200, 200, 200);
}

.header-top-languages {
    display: flex;
    align-items: center;
    gap: 7px;
}

.language-selection-title {
    margin-right: 5px;
}

.language-selection-flag {
    height: 17px;
    width: auto;
    margin-top: 3px;
    cursor: pointer;
}

.club-website-link {
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    text-decoration: none;
    color: var(--primary-color);
}

.header-main {
    display: flex;
    align-items: center;
    gap: 45px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.header-link {
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: .3px;
    color: rgb(1, 1, 125);
}

.header-link img {
    height: 75px;
    width: auto;
}