.statistics-main {
    /* background-color: #f1f3f6; */
    background-color: var(--background-color);
}

.league-table {
    margin-bottom: 45px;
}

.table-cont {
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: -2px 0 15px 2px rgba(0, 0, 0, 0.1);
}

.table-header {
    display: flex;
    align-items: center;
    height: 50px;
    background-color: rgb(245, 245, 245);
    border-bottom: 1px solid #e0e0e0;
}

.table-item {
    display: flex;
    align-items: center;
    height: 80px;
    border-bottom: 1px solid #e0e0e0;
    /* background-image: repeating-linear-gradient(
        to right,
        #a0a0a0 0,
        #e0e0e0 2px,
        transparent 2px,
        transparent 8px
    );
    background-position: bottom;
    background-repeat: repeat-x;
    background-size: auto 2px; */
}

.table-item:last-child {
    border-bottom: none;
}

.table-item:nth-child(odd) {
    /* background-color: rgb(245, 245, 245); */
}

.table-position {
    text-align: center;
    width: 75px;
}   

.table-header .table-statistic {
    font-weight: 600;
}

.table-statistic {
    text-align: center;
    width: 75px;
}

.table-statistic.team {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 250px;
    margin-left: 35px;
    flex-grow: 1;
}

.table-statistic.team.item {
    gap: 25px;
    font-size: 15px;
}   

.league-table-logo {
    display: flex;
    align-items: center;
    margin: 40px 0;
    margin-left: 10px;
}