.events-filter {
    margin-top: 40px;
    margin-bottom: 40px;
}

.events-filter-options {
    display: flex;
    align-items: center;
    gap: 25px;
}

.event-filter-item {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    color: rgb(100, 100, 100);
    padding: 0 3px;
    padding-bottom: 8px;
    font-size: 14px;
    letter-spacing: 0.3px;
    text-transform: capitalize;
    cursor: pointer;
}

.event-filter-item.selected {
    color: var(--background-text-color);
    font-weight: 600;
}

.event-filter-item:after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    display: block;
    width: 0%;
    height: 2px;
    background-color: var(--accent-color);
    transition: width 0.2s linear;
}

.event-filter-item.selected:after {
    width: 100%;
}

.event-filter-item-title {
    text-align: center;
    text-wrap: nowrap;
}

.event-filter-item-icon {
    margin-top: 2px;
    font-size: 20px;
}

/* HOVER */
.event-filter-item:hover {
    color: var(--background-text-color);
}

.event-filter-item:hover:after {
    background-color: var(--accent-color);
    width: 100%;
}