.headline-single {
    position: relative;
    min-width: 100%;
    height: 100%;
    transition: transform 0.2s linear;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.headline-single-img {
    height: auto;
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
    object-position: center;
    z-index: 0;
}

.headline-single-img.blur-in {
    filter: blur(10px);
    transition: filter 1s ease-out;
}

.aos-animate.blur-in {
    filter: blur(0);
}

.headline-content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 3;
}

.headline-text {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 20px;
    max-width: 395px;
    margin: auto;
    height: fit-content;
    font-size: 37px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.75);
    font-family: 'Exo', sans-serif;
}

.headline-next-match {
    box-sizing: border-box;
    padding: 15px;
    padding-top: 20px;
    width: 275px;
    background-color: var(--box-color);
    color: black;
    font-family: 'Exo', sans-serif;
    position: relative;
    z-index: 11;
}

.headline-next-match-date {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    color: var(--secondary-color);
}

.headline-next-match-teams {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 45px;
    margin-top: 25px;
    margin-bottom: 15px;
}

.headline-next-match-team-logo {
    position: relative;
    width: 75px;
    height: 75px;
}

.headline-next-match-team {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7px;
    /* border: 1px solid red; */
}

.headline-next-match-team-name {
    text-transform: uppercase;
    font-weight: 600;
}

.headline-next-match-countdown {
    width: 100%;
    padding: 12px 0;
    display: flex;
    justify-content: center;
    gap: 5px;
    border-top: 1px solid lightgrey;
    color: var(--accent-color);
}

.match-countdown-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50px;
}

.match-countdown-number {
    font-size: 30px;
}

.match-countdown-label {
    font-size: 11px;
    font-weight: 600;
    text-transform: uppercase;
}

.match-countdown-separator {
    margin-top: 7px;
    font-size: 17px;
}

.headline-next-match-time {
    font-size: 20px;
}

.headline-img-mask-right {
    position: absolute;
    top: 0;
    left: 0;
    width: 20%;
    height: 100%;
    background-color: black;
    background: linear-gradient(to right, black 0%, rgba(0,0,0,0.8) 20%, rgba(0,0,0,0.3) 70%, transparent 100%);
    z-index: 1;
}

.headline-img-mask-left {
    position: absolute;
    top: 0;
    right: 0;
    width: 20%;
    height: 100%;
    background-color: black;
    background: linear-gradient(to left, black 0%, rgba(0,0,0,0.8) 20%, rgba(0,0,0,0.1) 70%, transparent 100%);
    z-index: 1;
}