
.headline-next-match {
    box-sizing: border-box;
    padding: 15px;
    padding-top: 20px;
    width: 300px;
    background-color: var(--box-color);
    color: var(--background-text-color);
    position: relative;
    z-index: 11;
}

.headline-next-match-league img {
    height: 28px;
    width: auto;
    margin-bottom: 7px;
}

.headline-next-match-date {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 3px;
    color: var(--secondary-color);
}

.headline-next-match-teams {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 45px;
    margin-top: 25px;
    margin-bottom: 15px;
}

.headline-next-match-team-logo {
    position: relative;
    width: 80px;
    height: 80px;
}

.headline-next-match-team {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7px;
    /* border: 1px solid red; */
}

.headline-next-match-team-name {
    text-transform: uppercase;
    font-weight: 600;
}

.headline-next-match-countdown {
    width: 100%;
    padding: 12px 0;
    display: flex;
    justify-content: center;
    gap: 5px;
    border-top: 1px solid lightgrey;
    color: var(--accent-color);
}

.match-countdown-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50px;
}

.match-countdown-number {
    font-size: 30px;
}

.match-countdown-label {
    font-size: 11px;
    font-weight: 600;
    text-transform: uppercase;
}

.match-countdown-separator {
    margin-top: 7px;
    font-size: 17px;
}

.headline-next-match-time {
    font-size: 20px;
}

.headline-img-mask-right {
    position: absolute;
    top: 0;
    left: 0;
    width: 20%;
    height: 100%;
    background-color: black;
    background: linear-gradient(to right, black 0%, rgba(0,0,0,0.8) 20%, rgba(0,0,0,0.3) 70%, transparent 100%);
    z-index: 1;
}

.headline-img-mask-left {
    position: absolute;
    top: 0;
    right: 0;
    width: 20%;
    height: 100%;
    background-color: black;
    background: linear-gradient(to left, black 0%, rgba(0,0,0,0.8) 20%, rgba(0,0,0,0.1) 70%, transparent 100%);
    z-index: 1;
}

/* MEDIA QUERIES */
@media (max-width: 992px) {
    .headline-text.next-match {
        max-width: 350px;
    }
    
    .headline-next-match {
        width: 275px;
    }

    .headline-next-match-teams {
        margin-top: 15px;
    }

    .headline-next-match-team-logo {
        position: relative;
        width: 70px;
        height: 70px;
    }

    .match-countdown-item {
        width: 45px;
    }
    
    .match-countdown-number {
        font-size: 27px;
    }
}

@media (max-width: 768px) {
    .headline-text.next-match {
        max-width: 40%;
    }
}

@media (max-width: 576px) {
    .headline-text.next-match {
        display: none;
    }
    .headline-next-match {
        top: -32px;
        margin: 0 auto;
        background-color: rgba(255, 255, 255, 0.85);
    }
    .headline-next-match-teams {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .headline-next-match-countdown {
        padding: 7px 0;
    }

    .headline-img-mask-right, 
    .headline-img-mask-left {
        width: 10%;
    }
}