.playlist-single-link {
    display: flex;
    flex-direction: column;
    /* width: 100%; */
    text-decoration: none;
    cursor: pointer;
    /* border: 1px solid red; */
}

.playlist-image {
    position: relative;
    width: 100%;
    aspect-ratio: 16 / 9;
    height: auto;
    overflow: hidden;
    margin-bottom: 20px;
    overflow: hidden;
}

.playlist-thumbnail {
    object-fit: cover;
    transition: transform 0.3s linear;
}

.playlist-duration-cont {
    position: absolute;
    bottom: 3px;
    left: 3px;
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    height: 27px;
}

.playlist-duration-play-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 100%;
    font-size: 15px;
    background-color: var(--accent-color);
}

.playlist-duration {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    min-width: 45px;
    font-size: 12px;
    font-weight: 600;
}

.playlist-duration-text {
    position: relative;
    z-index: 1;
}

.playlist-duration-hover {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: var(--accent-color);
    z-index: 0;
    transition: width 0.2s linear;
}

.playlist-description {
    height: 50px;
    font-size: 17px;
    color: var(--background-text-color);
    padding: 0 1px;
}

.playlist-line {
    border-bottom: 1px solid #d0d0d0;
    margin-top: 20px;
    margin-bottom: 7px;
}

.playlist-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2px;
}

.playlist-info-type {
    text-transform: uppercase;
    color: grey;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.5px;
}

.playlist-info-match {
    display: flex;
    align-items: center;
    gap: 5px;
    text-decoration: none;
    cursor: pointer;
    position: relative;
    z-index: 2;
    transition: transform 0.1s linear;
}

.playlist-info-match-score {
    font-size: 12px;
    font-weight: 600;
    color: var(--background-text-color);
}

/* SMALLER PLAYLIST ITEM */
.smaller .playlist-duration-cont {
    height: 22px;
}

.smaller .playlist-duration-play-icon {
    width: 20px;
    font-size: 11px;
}

.smaller .playlist-duration {
    min-width: 40px;
    font-size: 11px;
    font-weight: 600;
}

.smaller .playlist-description {
    height: 40px;
    font-size: 15px;
}

.smaller .playlist-info-type {
    font-size: 11px;
}

/* HOVER */
.playlist-single:not(.game-hovered):hover .playlist-duration-hover {
    width: 100%;
}

.playlist-single:not(.game-hovered):hover .playlist-thumbnail {
    transform: scale(1.1);
}

.playlist-info-match:hover {
    transform: scale(1.1);
}

/* Responsive styles */
@media (max-width: 768px) {
    .playlist-image {
        width: 100%;
        height: auto;
        aspect-ratio: 16 / 9;
    }
}