.locale-switcher {
    display: flex;
    align-items: center;
}

.language-selection {
    position: relative;
    box-sizing: border-box;
}

.language-selection-header {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding-left: 5px;
}

.language-selection-list {
    position: absolute;
    top: 25px;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: var(--background-color);
    border: 1px solid rgb(221, 221, 221);
    z-index: 5;
}

.language-selection-item {
    display: flex;
    align-items: center;
    cursor: pointer;
    box-sizing: border-box;
    width: 100%;
    padding: 5px 0;
    padding-left: 5px;
    cursor: pointer;
}

.language-selection-item.selected {
    background-color: var(--secondary-color);
    color: var(--primary-text-color);
}

.language-selection-item-text {
    font-size: 12px;
    width: 20px;
    text-transform: uppercase;
}

.language-selection-item-flag {
    position: relative;
    height: 12px;
    width: 17px;
    margin-top: -2px;
    cursor: pointer;
}

.language-selection-arrow {
    font-size: 15px;
    margin-top: 2px;
}

/* HOVER */
.language-selection-item:hover {
    filter: brightness(0.8);
}