/* Home Latest Highlights Styles */

.home-latest-highlights-cont {
    padding: 50px 0;
    background-color: black;
    color: white;
}

.latest-highlights-list {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.latest-single {
    width: 100%;
    /* background-color: var(--box-color); */
    border-radius: 5px;
    font-size: 13px;
    cursor: pointer;
    overflow: hidden;
    text-decoration: none;
}

.latest-single-box {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
    width: 100%;
    overflow: hidden;
    /* border: 1px solid lightgray; */
}

.latest-single-bg {
    display: flex;
    align-items: center;
    justify-content: flex-end;  
    height: 175%;
    min-width: 120%;
    box-sizing: border-box;
    overflow: hidden;
}

.latest-highlights-away-bg {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 50%;
    box-shadow: 0px 0 10px 2px rgba(0, 0, 0, 0.5);
    transform: rotate(20deg) translateX(3%);
}

.latest-single-team {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    display: flex;
    align-items: center;        /* vertical centering */
    justify-content: center;    /* horizontal centering */
    gap: 32px;
}

.latest-single-team-logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.latest-single-info {
    padding: 15px 0;
}

.latest-highlights-title {
    font-weight: 500;
    letter-spacing: .5px;
    margin-bottom: 2px;
    text-transform: uppercase;
    color: var(--special-text-color);
}

.latest-highlights-duration {
    position: absolute;
    bottom: 5px;
    left: 7px;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.75);
    color: var(--primary-text-color);
}

.latest-single-info-league {
    margin-bottom: 2px;
    color: #a8a8a8;
    text-transform: uppercase;
}

.latest-single-info-date {
    color: #a8a8a8;
    margin-bottom: 25px;
}

.latest-single-info-match {
    font-size: 18px;
    text-decoration: none;
    color: var(--primary-text-color);
}


/* HOVER */

.latest-single-link:hover .latest-highlights-title {
    color: var(--special-text-color);
}