.match-scoreboard-main {
    position: relative;
    width: 100%;
    height: 100vh;
    max-height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: var(--primary-text-color);
}

.match-scoreboard-cont {
    margin: 0 auto;
    position: relative;
    width: 100%;
    max-width: 1620px;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.match-scoreboard {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 45px;
}

.match-scoreboard-single-img {
    height: auto;
    width: 100%;
    aspect-ratio: 16/9; /* 16:9 */
    object-fit: cover;
    object-position: center;
    z-index: 0;
}

.match-scoreboard-img-mask-right {
    position: absolute;
    top: 0;
    left: 0;
    width: 20%;
    height: 100%;
    background-color: black;
    background: linear-gradient(to right, black 0%, rgba(0,0,0,0.8) 20%, rgba(0,0,0,0.3) 70%, transparent 100%);
    z-index: 1;
}

.match-scoreboard-img-mask-left {
    position: absolute;
    top: 0;
    right: 0;
    width: 20%;
    height: 100%;
    background-color: black;
    background: linear-gradient(to left, black 0%, rgba(0,0,0,0.8) 20%, rgba(0,0,0,0.1) 70%, transparent 100%);
    z-index: 1;
}

.match-scoreboard-content {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    padding: 32px 25px;
    z-index: 2;
    background-color: rgba(0,0,0,0.5);
}

.match-scoreboard-team {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
    width: 100%;
}

.match-scoreboard-team.away {
    justify-content: flex-start;
}

.match-scoreboard-team-logo {
    position: relative;
    min-height: 90px;
    min-width: 90px;
}

.match-scoreboard-team-name {
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: right;
}

.away .match-scoreboard-team-name {
    text-align: left;
}

.match-scoreboard-score-cont {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
}

.match-scoreboard-score {
    height: 55px;
    width: 45px;
    font-size: 30px;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
}

.match-scoreboard-score-separator {
    font-size: 20px;
}

.match-scoreboard-info {
    width: 100%;
    max-width: 1080px;
    display: flex;
    justify-content: space-between;
    gap: 25px;
    padding: 0 5px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
    font-size: 12px;
}

.match-scoreboard-date-venue {
    display: flex;
    gap: 25px;
}

.match-scoreboard-league {
    font-size: 12px;
    text-transform: uppercase;
}

.match-scoreboard-time {
    font-size: 32px;
}

.match-scoreboard-date {
    display: flex;
    align-items: center;
    gap: 5px;
}

.match-scoreboard-date svg {
    font-size: 17px;
    margin-top: -2px;
}

.match-scoreboard-stadium {
    display: flex;
    align-items: center;
    gap: 5px;
}

.match-scoreboard-stadium svg {
    font-size: 17px;
    margin-top: -1px;
}

.match-scoreboard-status {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 25px;
    margin-bottom: 10px;
    height: 30px;
}

.match-scoreboard-phase {
    padding: 3px 7px;
    background-color: rgb(255, 191, 0);
    color: black;
    font-size: 11px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    border-radius: 2px;
}

.match-scoreboard-live {
    padding: 5px 7px;
    color: red;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    border-radius: 2px;
    display: flex;
    align-items: center;
    gap: 7px;
}

.match-scoreboard-live-icon {
    width: 7px;
    height: 7px;
    background-color: red;
    border-radius: 50%;
    margin-bottom: 1px;
}

.match-scoreboard-details-cont {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    margin-top: 25px;
    font-size: 14px;
    font-weight: 300;
}

.match-scoreboard-details {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 5px;
    width: 100%;
    max-width: 500px;
    padding-right: 20px;
}

.match-scoreboard-details.away {
    align-items: flex-start;
    padding-right: 0;
    padding-left: 20px;
    border-left: 1px solid rgba(255, 255, 255, 0.25);
}

.match-scoreboard-event {
    display: flex;
    gap: 12px;
}

.match-scoreboard-event-time {
    min-width: 20px;
    text-align: right;
}

.away .match-scoreboard-event-time {
    text-align: left;
}

.match-scoreboard-event-player {
    text-align: right;
}

/* MEDIA QUERIES */
@media (max-width: 992px) {
    .match-scoreboard {
        gap: 25px;
    }
    .match-scoreboard-time {
        font-size: 27px;
    }
    .match-scoreboard-score {
        height: 50px;
        width: 40px;
        font-size: 27px;
    }
    .match-scoreboard-team-logo {
        min-height: 75px;
        min-width: 75px;
    }
}

@media (max-width: 768px) {
    .match-scoreboard-main {
        max-height: 400px;
    }
    .match-scoreboard-team-name {
        font-size: 15px;
    }
    .match-scoreboard {
        gap: 15px;
    }
    .match-scoreboard-time {
        font-size: 22px;
    }
    .match-scoreboard-score {
        height: 37px;
        width: 32px;
        font-size: 22px;
    }
    .match-scoreboard-team-logo {
        min-height: 65px;
        min-width: 65px;
    }
    .match-scoreboard-status {
        margin-top: 15px;
        height: 22px;
    }
    .match-scoreboard-phase {
        padding: 2px 5px;
        font-size: 9px;
    }
    .match-scoreboard-live {
        padding: 3px 5px;
        font-size: 9px;
        gap: 5px;
    }
    .match-scoreboard-info {
        gap: 20px;
        font-size: 11px;
    }
    .match-scoreboard-date-venue {
        gap: 15px;
    }
    .match-scoreboard-league {
        font-size: 11px;
    }
    .match-scoreboard-details-cont {
        margin-top: 20px;
        font-size: 12px;
    }
    .match-scoreboard-score-separator {
        font-size: 15px;
    }
}

@media (max-width: 576px) {
    .match-scoreboard-main {
        height: fit-content;
        min-height: 200px;
    }
    .match-scoreboard-content {
        padding: 20px 12px;
    }
    .match-scoreboard-league {
        display: none;
    }
    .match-scoreboard-date-venue {
        width: 100%;
        justify-content: space-between;
    }
    .match-scoreboard-info {
        padding-bottom: 5px;
        font-size: 10px;
    }
    .match-scoreboard-details-cont {
        font-size: 9px;
        padding-bottom: 7px;
    }
    .match-scoreboard-status {
        margin-top: 7px;
    }
    .match-scoreboard-details {
        padding-right: 7px;
    }
    .match-scoreboard-details.away {
        padding-left: 7px;
    }
    .match-scoreboard-event {
        gap: 5px;
    }
    .match-scoreboard-team {
        flex-direction: column-reverse;
    }
    .match-scoreboard-team.away {
        flex-direction: column;
    }
    .match-scoreboard-team-logo {
        min-height: 55px;
        min-width: 55px;
    }
    .match-scoreboard-team-name {
        height: 30px;
        font-size: 12px;
        text-align: center;
    }
    .away .match-scoreboard-team-name {
        font-size: 12px;
        text-align: center;
    }
    .match-scoreboard-score-cont {
        margin-top: -35px;
    }
    .match-scoreboard-details-cont {
        margin-top: 10px;
    }
    .match-scoreboard-img-mask-right {
        width: 10%;
    }
    .match-scoreboard-img-mask-left {
        width: 10%;
    }
    .match-scoreboard-date svg {
        font-size: 14px;
    }
    .match-scoreboard-stadium svg {
        font-size: 14px;
    }
    .match-scoreboard-phase {
        font-size: 8px;
    }
    .match-scoreboard-live {
        font-size: 8px;
    }
}