.collection-slide-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    padding: 10px 0;
    overflow: hidden;
    font-family: 'Lato', sans-serif;
    color: var(--secondary-text-color);
}

.collection-title-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px;
}

.collection-title {
    font-size: 32px;
    font-weight: 700;
}

.top-first .collection-title {
    color: white;
}

.collection-title-more {
    display: flex;
    align-items: center;
    gap: 3px;
    padding: 7px;
    padding-right: 1px;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
}

.collection-title-more svg {
    margin-top: 1px;
    font-size: 15px;
    transition: transform 0.1s linear;
}

.top-first .collection-title-more {
    color: white;
}

.collection-slide-playlist-container {
    position: relative;
    display: flex;
    gap: 25px;
    width: 100%;
    overflow: hidden;
}

.collection-slide-playlist-single {
    float: left;
    min-width: calc(33.33% - 40px);
}

.collection-container {
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
}

.collection-playlist-container {
    width: 100%;
    flex-grow: 1;
}

.collection-playlist-single {
    float: left;
    width: calc(33.33% - 25px);
    margin-right: 25px;
    margin-bottom: 50px;
}

.collection-playlist-slider{
    position: absolute;
    top: 0;
    right: 0;
    width: 60px;
    height: 100%;
}

.collection-playlist-slider-button {
    position: absolute;
    top: 25%;
    right: 5px;
    width: 32px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    border-radius: 2px;
    cursor: pointer;
}

.collection-playlist-slider-button svg {
    margin-bottom: 1px;
    font-size: 17px;
    transition: transform .1s linear;
}

.collection-total-results {
    font-size: 14px;
    color: var(--text-color);
    margin-bottom: 32px;
}

/* HOVER */
.collection-title-more:hover svg {
    transform: translateX(5px);
}

.collection-playlist-slider-button:hover svg {
    transform: translateX(5px);
}