.main-page {
    position: relative;
    height: 100%;
    margin: 0 auto;
    font-family: 'Lato', sans-serif;
    background-color: rgb(240, 240, 240);
}

.main-content {
    min-height: calc(100vh - 400px);
}

.middle-container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 15px;
}

.page-header {
    position: absolute; 
    top: 0;
    width: 100%;
    height: 500px;
    background-color: var(--primary-color);
    color: var(--text-color);
    z-index: 0;
}

.page-header.short {
    height: 203px;
}

.in-page-header {
    position: relative;
    z-index: 10;
}

.page-header-title {
    position: relative;
    font-family: 'Michroma', sans-serif;
    max-width: 1280px;
    margin: 0 auto;
    font-size: 42px;
    font-weight: 700;
    letter-spacing: 2px;
    padding: 50px 0;
    color: var(--text-color);
    z-index: 10;
}

.section-title {
    font-size: 30px;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 32px;
    color: var(--secondary-color);
}
