.main-page {
    position: relative;
    height: 100%;
    margin: 0 auto;
    font-family: 'Lato', sans-serif;
    /* background-color: rgb(240, 240, 240); */
    background-color: var(--background-color);
}

.main-content {
    min-height: calc(100vh - 400px);
}

.middle-container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 15px;
}

.page-header {
    width: 100%;
    height: fit-content;
    background-color: var(--primary-color);
    color: var(--text-color);
}

.page-header-title {
    position: relative;
    font-family: 'Michroma', sans-serif;
    max-width: 1280px;
    margin: 0 auto;
    font-size: 42px;
    font-weight: 700;
    letter-spacing: 2px;
    padding: 50px 0;
    color: var(--text-color);
    z-index: 10;
}

.section-title {
    font-size: 30px;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 32px;
    color: var(--secondary-color);
}


.page-tab-options {
    margin: 0 auto;
    display: flex;
    align-items: center;
    width: 100%;
}

.page-tab {
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 43px;
    width: 50%;
    background-color: var(--secondary-color);
}

.page-tab-title {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.5px;
    padding: 0 2px;
    color: var(--text-color);
}

.page-tab.selected {
    position: relative;
    background-color: var(--background-color);
    color: var(--secondary-color);
}

.page-tab.selected .page-tab-title {
    color: var(--secondary-color);
}

.page-tab .page-tab-title::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 3px;
    background-color: var(--accent-color);
    transition: width 0.2s linear;
}

.page-tab.selected .page-tab-title::after {
    width: 100%;
}

/* HOVER */
.page-tab:hover {
    background-color: var(--background-color);
    transition: background-color 0.2s linear;
}

.page-tab:hover .page-tab-title {
    color: var(--secondary-color);
}
