html[data-theme="shl"] * {
  /* Main colors */
  --background-color: #f0f0f0;
  --primary-color: #000000;
  --secondary-color: #1b1f26;
  --header-color: #1b1f26;
  --accent-color: #5a9af9;
  /* Attributes */
  --background-text-color: #000000;
  --primary-text-color: #FFFFFF;
  --secondary-text-color: #000000;
  --header-text-color: #FFFFFF;
  --box-color: #FFFFFF;
  --video-background-color: var(--primary-color);
  --button-color: var(--accent-color);
  --button-hover-color: #0e4eae;
  --section-title-color: var(--accent-color);
  --special-text-color: var(--accent-color);
}