/* VIF theme specific styles */
html[data-theme="vif"] * {
  --primary-color: #022ca1;
  --secondary-color: #00007d;
  --header-color: #FFFFFF;
  --accent-color: #da1828;
  --background-color: #FFFFFF;
  --text-color: #FFFFFF;
  --header-text-color: #000000;
  --secondary-text-color: #00007d;
}




