html[data-theme="vif"] * {
  --background-color: #f0f0f0;
  --primary-color: #022ca1;
  --secondary-color: #040461;
  --header-color: #f0f0f0;
  --accent-color: #c3101f;
  --background-text-color: #000000;
  --primary-text-color: #FFFFFF;
  --secondary-text-color: var(--secondary-color);
  --header-text-color: #000000;
  --box-color: #FFFFFF;
  --button-color: var(--primary-color);
  --button-hover-color: var(--accent-color);
  --section-title-color: var(--accent-color);
}